In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('songs.csv')
df.head()

,name,album,artist,emotion
0,1999,1999,Prince,Happy
1,23,23,Blonde Redhead,Sad
2,9 Crimes,9,Damien Rice,Sad
3,99 Luftballons,99 Luftballons,Nena,Happy
4,A Boy Brushed Red Living In Black And White,They're Only Chasing Safety,Underoath,Energetic

In [4]:
#ALl Emotion List
list=df["emotion"].unique().tolist()
list

['Happy', 'Sad', 'Energetic', 'Calm']

In [8]:
#For happy
happy=df[df['emotion']=='Happy'].drop("emotion",axis=1)
happy_row=happy.shape[0]
happy.head()

{'name': '1999', 'album': '1999', 'artist': 'Prince'}

In [36]:
#For sad
sad=df[df['emotion']=='Sad'].drop("emotion",axis=1)
sad_row=sad.shape[0]
sad.head()

           name                album                    artist
1            23                   23            Blonde Redhead
2      9 Crimes                    9               Damien Rice
17  Algo Rhythm  Temporär Musik 1-13  One Sentence. Supervisor
18       Alison             Souvlaki                  Slowdive
20   All I Want      The Kodaline EP                  Kodaline

In [37]:
#For neutral
neutral=df[df['emotion']=='Calm'].drop("emotion",axis=1)
neutral_row=neutral.shape[0]
neutral.head()

                name             album              artist
5   A Burden to Bear  A Burden to Bear  Emmanuelle Rimbaud
6         A La Plage        A La Plage         Ron Adelaar
11       Adjustments       Adjustments        Josie Mehlin
12            Adrift            Adrift         Cooper Sams
15    After The Rain    After The Rain          Comet Blue